html {background-image: url('../images/bats.gif');
    background-repeat: repeat;

}

body {
    font-family: "Open Sans", Arial, sans-serif;
    width: 800px;
    background-color: white;
    margin:0 auto;
    border: 3px solid black;
    box-shadow: 5px 5px 5px 5px gray;
}

header {
    background: linear-gradient(90deg, white 0%, orange 50%, black 100%);
    padding: 4px;
    border-bottom: 3px solid black;
}

header img {
    float: left;
    margin-right: 20px;
}

header h1, header h3 {
    margin-left: 100px;
}

header h1 {
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

header h2 {
    margin-top: 0;
    font-size: 16px;
}

main{
    padding-left: 30px;
}

main h2:first-letter {
    font-size: 2em;
}

a {
    color: orange;
    font-weight: bold;
}

a:hover, a:focus {
    color: green;
}

ul {
    padding-left: 30px;
}

ul li {
    margin-bottom: 5px;
}

footer {
    background: linear-gradient(90deg, black 0%, orange 50%, white 100%);
    color: black;
    padding: 30px;
    font-size: 0.75em;
    text-align: center;
    border-top: 3px solid black;
    margin-top: 20px;
}
