body {
    font-family:  sans-serif;
    background-color: white;
    color: black;
    margin: 1em;
    padding: 0;
}
header {
    padding: 1rem;
    background-color: white;
}
header h1 {
    color: orange;
    font-family: sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}
header img {
    vertical-align: left;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: left
}
h2 {
    color: black;
    font-size: 1.5em;
}
p {
    font-size: 1em;
    line-height: 1.5;
    position: relative;
}
.first-word-uppercase-p::first-letter {
    font-size: 40px;
    color: black;
    font-weight: bold;
  }
.intro {
    font-size: 1.2em;
}
.categories {
    margin-top: 1rem;
}
.categories ul {
    list-style-type: disc;
    margin-left: 20px;
}
.categories a:link {
    color: orange;
    text-decoration: none;
}
.categories a:visited {
    text-decoration:bold;
    color:orange
}
.categories a:hover {
    color:green
}
footer {
    background-color: white;
    text-align: center;
}
a:hover {font-style: bold;}
a:link {color: orange;}